.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.c-title {
  position: relative;
}
.c-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.c-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.c-section {
  display: flex;
  gap: 150px;
}
.left-s {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-s h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left-s p {
  color: #d8d8d8;
  font-size: 20px;
  line-height: 35px;
  max-width: 550px;
}
.c-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 22px;
  color: #d8d8d8;
}
.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-s {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.right-s label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
}

.right-s input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "outfit";
  font-size: 20px;
}
.right-s textarea {
  border: none;
  padding: 25px;
  border-radius: 4px;
  width: 650px;
  background: #32323c;
  font-family: "outfit";
  font-size: 20px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(270deg, #df8908 5.09%, #b415ff 100%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
